src/main/app/example-service-endpoint.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file"
    xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking"
    xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml"
    xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf"
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.0"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <spring:beans>
    <context:property-placeholder
             location="classpath:mule-app.properties,
                       classpath:mule-app-override.properties" />
  </spring:beans>
  
    <flow name="service-flow" doc:name="service-flow">
        <vm:inbound-endpoint exchange-pattern="one-way"
            path="/service/asynch" doc:name="example-service-wm-queue" />
        <mulexml:xslt-transformer
            maxIdleTransformers="2" maxActiveTransformers="5"
            xsl-file="no/schibsted/xml/transform/from/backend/invoice.xslt"
            doc:name="Transform to Canonical" />
        <http:outbound-endpoint exchange-pattern="request-response"
            host="localhost" port="8081" method="POST" doc:name="Call Core Service" />
    </flow>
    <flow name="sync-service-endpoint-flow" doc:name="sync-service-endpoint-flow">
        <http:inbound-endpoint exchange-pattern="request-response"
            host="localhost" port="8081" doc:name="Sync HTTP" />
        <cxf:jaxws-service doc:name="SOAP"/>
        <mulexml:schema-validation-filter
            schemaLocations="no/schibsted/xml/finance/invoice/v1/invoice.xsd"
            returnResult="true" doc:name="Schema Validation" />
        <flow-ref name="service-flow" doc:name="Call Service Endpoint Flow" />
    </flow>
    <flow name="example-service-endpointFlow1" doc:name="example-service-endpointFlow1">
        <file:inbound-endpoint path="${invoice.input.path}"
            moveToDirectory="${invoice.archive.path}" responseTimeout="10000"
            doc:name="File" />
        <mulexml:schema-validation-filter
            schemaLocations="no/schibsted/xml/finance/invoice/v1/invoice.xsd"
            returnResult="true" doc:name="Schema Validation" />
        <splitter expression="#[xpath:/Invoice]" doc:name="Splitter" />
        <foreach doc:name="For Each">
            <flow-ref name="service-flow" doc:name="Flow Reference" />
        </foreach>
    </flow>
</mule>
